@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
    display: block;
}

.film-row {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: 0 16px;

    & + & {
        margin-top: 40px;
    }

    @media @tui-mobile {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
}

.poster {
    width: 300px;
}

.synopsis {
    text-align: justify;
}

.recommendations-title {
    width: 100%;
    text-align: center;
    margin: 20px 0 10px 0;
}

.recommendation-list {
    display: flex;
    gap: 16px;
    padding: 0 16px;
    justify-content: space-between;
}
