@let film = film$ | async;
@let isLoading = isLoading$ | async;
@let visibleItemsCount = (visibleItemsCount$ | async)!;
@let account = account$ | async;

@if (!isLoading && film) {
    <div class="film-row">
        <div>
            <app-poster
                class="poster"
                [alt]="film.title"
                [path]="film.poster_path"
            >
            </app-poster>
        </div>
        <app-film-info [film]="film"></app-film-info>
        <app-film-actors [actors]="film.credits.cast"></app-film-actors>
    </div>
    @if (account) {
        <app-film-actions
            class="film-row"
            [film]="film"
            [account]="account"
        ></app-film-actions>
    }
    <div class="film-row">
        @let trailer = film | tuiMapper: getTrailer;
        @if (trailer) {
            <div class="trailer-block">
                <app-film-trailer [video]="trailer"></app-film-trailer>
            </div>
        }
        @if (film.overview) {
            <div class="synopsis">{{ film.overview }}</div>
        }
    </div>
    @let recommendations = film | tuiMapper: getRecommendations;
    @if (recommendations.length) {
        <div class="film-row film-row_recommendation">
            <div class="recommendations-title tui-text_h6">Смотрите также:</div>
            <div class="film-recommendations">
                <app-carousel
                    [gapSize]="4"
                    [countElements]="(visibleItemsCount$ | async)!"
                >
                    @for (
                        recommendation of recommendations;
                        track recommendation.id
                    ) {
                        <app-film-card [data]="recommendation"></app-film-card>
                    }
                </app-carousel>
            </div>
        </div>
    }
} @else {
    <div class="film-row">
        <div class="poster-skeleton" [tuiSkeleton]="true"></div>
        <div class="info-skeleton" [tuiSkeleton]="true"></div>
        <div class="actors-skeleton" [tuiSkeleton]="true"></div>
    </div>
    <div class="film-row">
        <div class="trailer-skeleton" [tuiSkeleton]="true"></div>
        <div class="synopsis-skeleton" [tuiSkeleton]="true"></div>
    </div>
    <div></div>
    <div class="recommendations-title-skeleton">
        <div tuiSkeleton="Thistextwillbereplacedby a skeleton"></div>
    </div>
    <div class="recommendation-list-skeleton">
        @for (index of visibleItemsCount | tuiRepeatTimes; track index) {
            <div class="recommendation-list-skeleton__item">
                <div class="card-skeleton" [tuiSkeleton]="true"></div>
                <div
                    class="title-skeleton"
                    tuiSkeleton="Thistextwillbereplacedby a skeleton"
                ></div>
            </div>
        }
    </div>
}
