@import '@taiga-ui/core/styles/taiga-ui-local.less';

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'logo search search nav';
    padding: 0 16px;
    background-color: var(--tui-background-neutral-1-pressed);
    color: var(--tui-text-primary);

    @media @tui-mobile {
        grid-template-areas:
            'logo logo nav nav'
            'search search search search';
    }
}

.logo {
    grid-area: logo;
    text-decoration: none;
    color: inherit;
}

.search {
    grid-area: search;
    margin: auto 0;

    @media @tui-mobile {
        margin-bottom: 8px;
    }
}

.navigation {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.avatar {
    margin-left: 8px;
}
