@import '@taiga-ui/core/styles/taiga-ui-local.less';

.header {
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.24);
    padding: 16px;
    background-color: rgb(218, 214, 214);
    color: rgb(48, 91, 99);
}

.title {
    min-inline-size: 15.625rem;
    margin: 0;
}

.tabs {
    inline-size: ~'calc(100% - 15.625rem)';
    justify-content: flex-end;
    box-shadow: none;
}
