@let account = account$ | async;
@let accountLoading = accountLoading$ | async;

<header class="header">
    <span class="tui-text_h1">Kinoha</span>
    <div class="navigation">
        <a
            class="tui-text_body-m"
            appearance="action"
            tuiButton
            routerLink="/"
            size="m"
        >
            Фильмы
        </a>

        @if (accountLoading) {
            <tui-avatar size="m" [tuiSkeleton]="true" />
        } @else {
            @if (account) {
                <app-account-button [account]="account"></app-account-button>
            } @else {
                <button
                    appearance="flat"
                    tuiButton
                    type="button"
                    (click)="openAuthWindow()"
                >
                    Войти
                </button>
            }
        }
    </div>
</header>
