<form class="authorization-form" [formGroup]="authorizationForm">
    <h3 class="tui-form__header tui-form__header_margin-top_none">Вход</h3>
    <div class="tui-form__row">
        <tui-input formControlName="username">
            Логин
            <input tuiTextfieldLegacy />
            <span class="tui-required"></span>
        </tui-input>
        <tui-error
            formControlName="username"
            [error]="[] | tuiFieldError | async"
        />
    </div>
    <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
            <tui-input-password formControlName="password"
                >Пароль
                <span class="tui-required"></span>
            </tui-input-password>
            <tui-error
                formControlName="password"
                [error]="[] | tuiFieldError | async"
            />
        </div>
    </div>
    <div class="tui-form__buttons">
        <button size="l" tuiButton type="onSubmit" class="tui-form__button">
            Войти
        </button>
    </div>
</form>
