@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
    display: flex;
    justify-content: space-between;
    padding: 60px 16px 0;

    @media @tui-mobile {
        flex-direction: column;
    }
}
