@import '@taiga-ui/core/styles/taiga-ui-local.less';

.skeleton-card {
    width: 140px;
    height: 210px;
}

.skeleton-title {
    width: 140px;
}

.film-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

tui-pagination ::ng-deep .t-button {
    inline-size: auto;
    min-width: var(--tui-height-s);
}

.film-card {
    width: 140px;

    @media @tui-mobile {
        width: calc(50% - 8px);
    }
}
