@if (isLoading) {
    <div class="film-list-wrapper">
        @for (index of 20 | tuiRepeatTimes; track index) {
            <div class="film-card">
                <div class="skeleton-card" [tuiSkeleton]="true"></div>
                <div
                    class="skeleton-title"
                    tuiSkeleton="This text will be replaced by a skeleton"
                ></div>
            </div>
        }
    </div>
} @else if (films.length > 0) {
    <div class="film-list-wrapper">
        @for (film of films; track film.id) {
            <app-film-card class="film-card" [data]="film"></app-film-card>
        }
    </div>
    @if (totalPages > 1) {
        <tui-pagination
            class="tui-space_top-4"
            [index]="index"
            [length]="totalPages"
            (indexChange)="onPageChanged($event)"
        />
    }
} @else {
    <div class="empty-block">
        <span class="tui-text_h4">Пока ничего нет</span>
    </div>
}
