:host {
    display: block;
}

.actor-name {
    font: var(--tui-font-text-ui-s);
}

.actor-character {
    font: var(--tui-font-text-ui-xs);
    color: var(--tui-text-tertiary);
    margin-bottom: 4px;
}
