@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
    display: block;
}

.app-container {
    background-color: var(--tui-background-neutral-2);
}

.page-container {
    background-color: var(--tui-background-base-alt);
    width: 76%;
    margin: auto;
    padding-top: 60px;
    box-sizing: border-box;

    @media @tui-tablet {
        margin: 0;
        width: 100%;
        padding-top: 20px;
    }
}
