@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
    display: block;
}

.film-service-container {
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.24);
}

.tabs {
    inline-size: ~'calc(100% - 15.625rem)';
    justify-content: flex-end;
    box-shadow: none;
}

.title {
    min-inline-size: 15.625rem;
    margin: 0;
}

.page-container {
    margin-top: 80px;
}
