@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
    display: flex;
    flex-direction: column;
    width: 140px;
    cursor: pointer;

    &:hover {
        .poster::after {
            opacity: 1;
        }
    }
}

.card-wrapper {
    color: inherit;
    text-decoration: none;
}

.poster {
    position: relative;
    display: block;
    width: 100%;
    height: 210px;
    background-color: var(--tui-background-neutral-1);
    color: transparent;
    user-select: none;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background-color: var(--tui-border-hover);
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }
}
