@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
    display: flex;
    flex-direction: column;
    width: 140px;

    &:hover {
        .film-card::after {
            opacity: 1;
        }
    }
}

.poster {
    display: block;
    width: 100%;
    height: 210px;
    transition: opacity 0.15s ease-in-out;
}

.film-card {
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(0, 0, 0, 0.15);
        opacity: 0;
    }
}

.film-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 18px;
}
