:host {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skeleton-card {
    width: 140px;
    height: 210px;
}

// .skeleton-title {}

tui-pagination ::ng-deep .t-button {
    inline-size: auto;
    min-width: var(--tui-height-s);
}
