@let films = films$ | async;
@let totalPages = totalPages$ | async;
@let isLoading = isLoading$ | async;

@if (isLoading) {
    <div class="film-list-wrapper">
        @for (index of 20 | tuiRepeatTimes; track index) {
            <div>
                <div class="skeleton-card" [tuiSkeleton]="true"></div>
                <div
                    class="skeleton-title"
                    tuiSkeleton="Thistextwillbereplacedby a skeleton"
                ></div>
            </div>
        }
    </div>
} @else {
    <div class="film-list-wrapper">
        @for (film of films; track film.id) {
            <app-film-card
                class="film-card"
                [data]="film"
                [showSkeleton]="false"
            ></app-film-card>
        }
    </div>
    <tui-pagination
        [index]="index"
        [length]="totalPages || 0"
        (indexChange)="pageChanged($event)"
    />
}
