:host {
    display: block;
}

.film-info-wrapper {
    display: flex;
    flex-direction: column;
}

.film-info-item {
    display: flex;
    align-items: baseline;
    padding-block-start: 8px;
    padding-block-end: 8px;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.film-info-title {
    width: 160px;
}

.film-info-value {
    flex-grow: 1;
}
