<h3>Сортировать по</h3>
<label tuiLabel>
    <input
        tuiRadio
        type="radio"
        [value]="sortingFilmList.popularity"
        [formControl]="control"
    />
    По популярности
</label>
<label class="tui-space_top-2" tuiLabel>
    <input
        tuiRadio
        type="radio"
        [value]="sortingFilmList.votes"
        [formControl]="control"
    />
    По количеству оценок
</label>
<label class="tui-space_top-2" tuiLabel>
    <input
        tuiRadio
        type="radio"
        [value]="sortingFilmList.release"
        [formControl]="control"
    />
    Сначала новые
</label>
